@import "../../assets/styles/styles"


*
  padding: 0
  margin: 0


.MuiDialog-paperWidthSm
  max-width: 40vw
  min-width: 30vw


h2.MuiTypography-h6
  font-style: normal
  font-weight: 300
  font-size: 36px
  color: #000000


.MuiDialogTitle-root
  background: $white
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)


.MuiDialogActions-root
  background: $white
  box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.25)
  padding: 20px


div.MuiDialogActions-spacing
  padding: 20px


button#btnDelete.MuiButton-root
  background: rgba(197, 233, 255, 0.72)
  border: 2px solid rgba(197, 233, 255, 0.72)
  box-sizing: border-box
  border-radius: 4px
  color: #000000
  padding: 10px 48px
  font-style: normal
  font-weight: 300
  font-size: 18px
  line-height: 21px


#btnCancel
  background: $white
  border: 2px solid rgba(0, 0, 0, 0.2)
  box-sizing: border-box
  border-radius: 4px
  color: #000000
  padding: 10px 48px
  font-style: normal
  font-weight: 300
  font-size: 18px
  line-height: 21px


div.MuiDialogContent-root
  padding: 30px 24px 60px 24px


p.MuiTypography-root
  font-weight: 300
  font-size: 24px
  line-height: 28px
  color: #000000
  margin: 10px 0

