*
  padding: 0
  margin: 0
  box-sizing: border-box

.main
  width: 100%
  max-height: 50vh
  overflow: scroll
  border-bottom: 1px solid #000

  &::-webkit-scrollbar
    width: 0
    height: 0


@media (max-width: 1500px)
  div.MuiDialog-paperWidthSm
    width: 90%



@media (max-width: 600px)
  div.MuiDialog-paperWidthSm
    width: 90%


.main
  margin-bottom: 10px


