@import "../../assets/styles/styles"


.Sort
  display: flex
  justify-content: center
  flex-direction: column
  width: 80%
  padding: 22px 0
  margin: 0 auto
  text-align: left


  &_block
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    margin-bottom: 50px

    &:last-child
      margin-bottom: 0


    & .MuiTextField-root
      width: 16vw
      margin-left: 10px



  &_direct
    display: flex
    justify-content: center
    align-items: center
    margin-left: 20px

    & .MuiTextField-root
      width: 16vw
      margin-left: 10px


p.Sort-text
  font-size: 20px
  min-width: 400px


.filter
  display: flex
  align-items: center
  margin-left: 24px

  &-img
    width: 30px
    height: 30px
    margin-left: 20px
    cursor: pointer


  &-date
    width: 60%
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 4px

    &_from
      display: flex
      width: 30%



  &-btn_block
    display: flex
    align-items: center


p.filter-date_text.MuiTypography-root
  margin-right: 10px


.filter-cancel__block
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 50px


@media (max-width: 1124px)
  .Sort
    width: 100%


  p.Sort-text
    font-size: 18px



@media (max-width: 1024px)
  .Sort
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 24px 0 0 0
    margin-bottom: 10px

    &_block
      justify-content: space-between
      width: 100%
      margin-bottom: 10px

      & .MuiTextField-root
        width: 75%
        margin-left: 10px



    &_direct
      justify-content: space-between
      width: 100%
      margin-left: 0
      margin-bottom: 10px

      & .MuiTextField-root
        width: 75%
        margin-left: 10px




  .filter
    margin-left: 0

    &-date
      width: 100%


@media (max-width: 800px)
  .Sort
    display: flex
    flex-direction: column
    justify-content: space-between
    padding-top: 24px
    margin-bottom: 10px

    &_block
      flex-direction: column

      & .MuiTextField-root
        width: 100%
        margin-left: 10px


    &_direct
      flex-direction: column


      & .MuiTextField-root
        width: 100%
        margin-left: 10px


  p.Sort-text
    font-size: 24px


  #filter-btn
    padding: 24px 10px

  
  .filter
    &_img
      margin-left: 10px


@media (max-width: 600px)
  .filter
  
    &_img
      margin-left: 30px

  
    &-date
      display: flex
      flex-direction: column
  
      &_from
        display: flex
        width: 100%
        margin-bottom: 10px


@media (max-width: 400px)
  p.Sort-text
    font-size: 20px


