@import "../../assets/styles/styles"


.app-block
  display: flex
  justify-content: center
  align-items: center
  background: black
  width: 100%
  height: 100vh


button.btn
  display: block
  background: red
  padding: 50px 150px
  border-radius: 10px
  cursor: pointer
  color: $white
  font-size: 20px
  text-decoration: none
  animation-duration: 20s
  animation-name: App-logo-spin
  animation-iteration-count: infinite

.main-link
  text-decoration: none



@keyframes App-logo-spin
  from
    transform: rotate(0deg)
    border: 3px solid black

  to
    transform: rotate(360deg)
    border: 3px solid $white


