@import "../../assets/styles/styles"


.table
  width: 100%
  margin: 24px auto 0 auto
  border-collapse: collapse
  background: $white
  padding: 0


.table-row th
  background: #C4C4C4
  padding: 20px 0
  max-width: 20%
  border-bottom: 1px solid black


.table-content
  border: 1px solid #000000


.appoint-row:last-child
  border-bottom: 1px solid black


.appoint-column
  padding: 12px 20px
  border-collapse: inherit
  border: 1px solid #000000
  border-bottom: none
  border-top: none
  vertical-align: top


.tableBtns
  display: flex
  justify-content: center


.tableImg
  width: 18px
  height: 18px
  cursor: pointer
  margin-left: 10px


.table__none-employees
  font-size: 40px