button#addBtn.MuiButton-root
  height: 0
  padding: 28px 24px
  background: $white
  text-transform: inherit
  font-size: 20px


button#hideBtn.MuiButton-root
  display: none
  height: 0
  padding: 28px 24px
  background: $white
  text-transform: inherit
  font-size: 20px
  line-height: 0


#filter-btn
  height: 0
  padding: 28px 60px
  background: $white